<ion-header>  
  <ion-toolbar>  
    <ion-title>  
      Verification 
    </ion-title>  
  </ion-toolbar>  
</ion-header>
<!-- <p>{{test}}</p> -->
<ion-content padding class="background">  
  <div>  
    <!-- <a>efvwefvwfv {{userName.name}}</a> -->
    <!-- <b>efvwefvwfv {{PhoneNo.phone}}</b> -->
    <!-- <h1>{{userName}}</h1> 
    <h2>{{workQueue}}</h2>
    <h3>{{services}}</h3>
    <h4>{{code}}</h4> 
     -->

    <ion-button (click)="go()">Back</ion-button>  
    <ion-button (click)="signinWithPhoneNumber()">Main</ion-button> 
  </div>  
</ion-content>  